body
{
	background-image:url("Images/BannerBG.png");
	z-index:-20;
}
div 
{	
	margin: auto;
	width:50%;
	
}
h1
{
	
	text-align: center;
	font-family: Verdana;
}
p
{
	margin: auto;
	width: 75%;
	font-family: Verdana;
}
table
{
	margin : auto;
	font-family:Verdana;
	
}
th,td
{
	padding: 10px;
	background-color: #00264d;
	border-style: groove;
	border-width:2px;
	
}
a:link 
{
	color:white;
}
a:visited 
{
	color:white;
}
a:hover 
{
	color:white;
}
a:active 
{
	color:white;
}
li
{
	margin:auto;
	font-family: Verdana;
	font-size: 15px;
	border-width:2px;
	font-weight:normal;
}
ul
{
	font-family: Verdana;
	font-size:20px;
	font-weight:bold;
	border-style:hidden hidden groove groove;
	border-width:3px;
	border-color: #cc0000;
}
iframe
{
	
}
#FeatureList
{
	
	
	width:40%;
}
#bearTarget
{
	padding:70px,0;
	overflow:auto;
	width:500px;
	height:350px;
	border-width:2px;
	border-style:solid;
}
#Locator
{
	height:150px;
	
}
